body {
  font-family: "Space Mono", monospace;
  background-color: #fdf9fd;
}

h1 {
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}

h2 {
  font-size: 50px;
}
p {
  font-size: 20px;
}

div {
  width: 55%;
}

span {
  text-shadow: 10px 10px 12.5px #fefc4b;
}
